table {
    margin: 15% auto;
}

#menu {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    background: #666;
    padding: 5px 0;
}

.left {
    font-family: arial;
    font-size: 12px;
    color: #FFF;
    text-transform: capitalize;
    text-align: left;
    background: #999;
}

body { background-color: beige;
}